---
layout: master
title: Bespoke Software Development in Cornwall - Go Tripod
---

{% include home-footer.html %}

<div id="main">

	<section id="introduction">
	
		<div class="container">
		
			<div class="icon-holder intro">
				<i class="icon-trophy" style="color:#e47c14 !important;"></i>
			</div>
		
			<h1>Elegant software solutions that solve your complex business problems</h1>
			
			<p>We are a Cornwall, UK based software business. We solve business challenges all over the globe using software technologies as our tools. Our combined experience is honed to provide you with great web and mobile software solutions that solves your most complex business problems. </p>
		</div>
	
	</section>

	{% include quotes-one.html %}

	{% include latest-work.html %}

	{% include our-clients.html %}

	{% include services.html %}

	{% include quotes-two.html %}

	{% include meet-the-team.html %}

</div>