---
layout: master
title: Bespoke Software Development in Cornwall - Go Tripod
redirect_from: /contact.html
---

{% include header-nav.html %}

<header>
	<h1>Great things start like this: <br/>You talk, we listen.</h1>
	<h2>We're UK-based software developers who focus on <em>users</em> and the project, not on code and techology.</h2>
</header>

<div class="header-background-image background"></div>


<section id="introduction">
    <div class="blurb">
        <div class="badge"><i class="fa fa-rocket"></i></div>
        <div>
            <h3>
                Problems? Solved.
            </h3>
            <p>Have a look at some case studies.</p>
        </div>
    </div>

    <div class="grid">
        {% for study in site.case_studies %}
        <div class="grid-cell">
            <a href="{{study.url}}">
                <img src="/assets/img/{{study.screenshot}}" alt="{{study.client}}">
            </a>
        </div>
        {% endfor %}
    </div>
</section>


<section id="people">
    <div class="blurb">
        <div class="badge"><i class="fa fa-globe"></i></div>
        <div>
            <h3>
                We are what we do.
            </h3>
            <p>Work with us and we'll bring you the web.</p>
        </div>
    </div>

    <div class="mugs">
        <div class="mug"><img src="http://www.gotripod.com/assets/img/simon.jpg" alt=""><p>Simon</p></div>
        <div class="mug"><img src="http://www.gotripod.com/assets/img/colin.jpg" alt=""><p>Colin</p></div>
        <div class="mug"><img src="http://www.gotripod.com/assets/img/greg.png" alt=""><p>Greg</p></div>
        <div class="mug"><img src="http://www.gotripod.com/assets/img/slaw.jpg" alt=""><p>Slaw</p></div>
    </div>

    <div class="mugs">
        <div class="mug"><img src="http://www.gotripod.com/assets/img/joanna.jpg" alt=""><p>Joanna</p></div>
        <div class="mug"><img src="http://www.gotripod.com/assets/img/leona.jpg" alt=""><p>Leona</p></div>
        <div class="mug"><img src="http://www.gotripod.com/assets/img/marc.jpg" alt=""><p>Marc</p></div>
        <div class="mug"><img src="http://www.gotripod.com/assets/img/pavel.jpg" alt=""><p>Pavel</p></div>
    </div>
</section>