<a href="/make-contact/">
    <div class="panel-container right home">
        <div class="panel">
             <span class="fa-stack fa-4x icon">
                <i class="fa fa-circle fa-stack-3x gt-white"></i>
                <i class="fa fa-circle-thin fa-stack-2x gt-black"></i>
                <i class="fa fa-bullhorn fa-stack-1x gt-black"></i>
            </span>
            <span class="text">
                Got an idea for a project?<br />
                <span>Get in touch : 0845 475 2487</span><br />
            </span>
        </div>
    </div>
</a>