
<!--footer-pre starts-->
<div id="footer-pre">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about-us/">About Us</a></li>
        <li><a href="/our-process/">Our Process</a></li>
        <li><a href="/our-work/">Our Work</a></li>
        <li><a href="/meet-the-team/">Meet the Team</a></li>
        <li><a href="/make-contact/">Make Contact</a></li>
        <li><a href="http://www.gotripod.com/blog.html" target="_blank">Blog</a></li>
    </ul>
</div>
<!--footer-pre ends-->

<!--footer-wrapper starts-->
<div id="footer-wrapper">
	<div id="footer">
        <div class="section group">
            <div class="col span_1_of_2">

                <a href="/"><img src="/assets/img/gotripod-logo-mini.png" width="170" height="50" alt="GoTripod" /></a>

                <p class="caps"><a href="mailto:hello@gotripod.com">hello@gotripod.com</a> // + 44 (0)845 475 2487</p>
                <p class="caps">Tremough Innovation Centre<br />
                Penryn, Cornwall, TR10 9TA<br />
                England, Uk</p>
                <p>&copy; 2016 Go Tripod, All rights reserved.<br />
                Registered in the UK company number 6912029 VAT No. 972 5228 06</p>
            </div>
            <div class="col span_1_of_2">
                <div id="social">
                    <a target="_blank" href="http://www.twitter.com/gotripod"><i class="fa fa-twitter-square fa-2x gt-white"></i></a>
                    <a target="_blank" href="http://www.facebook.com/gotripod"><i class="fa fa-facebook-square fa-2x gt-white"></i></a>
                    <a target="_blank" href="http://www.linkedin.com/company/go-tripod-ltd"><i class="fa fa-linkedin-square fa-2x gt-white"></i></a>
                    <a target="_blank" href="https://plus.google.com/+Gotripod"><i class="fa fa-google-plus-square fa-2x gt-white"></i></a>
            	</div>
				<div style="clear:both;"></div>


                <form class="pull-right" action="get">
                    <label for="textfield">Get our Newsletter</label>
                    <input name="textfield" id="textfield" type="text" maxlength="75" placeholder="Email Address" />
                    <input name="" type="button" value="Subscribe"/>
                </form>
            </div>
        </div>
    </div>
</div>
<!--footer-wrapper ends-->
