<nav id="main-navigation" role="navigation">

  <a id="go-tripod-logo" href="index.html" title="Go Tripod"><img src="/assets/img/gt-logo.png" alt="Header Logo" /></a>

  <ul id="navigation">
      <li><a href="/#header-global" title="Home">Home</a></li>
      <li><a href="/#latest-work" title="Our Work">Our Work</a></li>
      <li><a href="/#services" title="Our Services">Our Services</a></li>
      <li><a href="/#meet-the-team" title="Meet the Team">Meet the team</a></li>
      <li><a href="/blog.html" title="Blog">Blog</a></li>
      <li><a href="/#contact" title="Contact Us">Contact Us</a></li>
  </ul>

  <select name="dropdown" size="1">
      <option value="" selected="selected">Navigation</option>
      <option value="/#header-global">Home</option>
      <option value="/#introduction">About Us</option>
      <option value="/#latest-work">Our Work</option>
      <option value="/#services">Our Services</option>
      <option value="/#meet-the-team">Our team</option>
      <option value="/blog.html">Blog</option>
      <option value="/#contact">Contact Us</option>
  </select>

</nav>