<nav id="header-navigation" class="sixteen columns" role="navigation">

  <ul id="navigation">
      <li><a href="/index.html#header-global" title="Home">Home</a></li>
      <li><a href="/index.html#introduction" title="About Us">About Us</a></li>
      <li><a href="/index.html#latest-work" title="Our Work">Our Work</a></li>
      <li><a href="/index.html#services" title="Our Services">Our Services</a></li>
      <li><a href="/index.html#meet-the-team" title="Meet the Team">Meet the team</a></li>
    <li><a href="/blog.html" title="Blog">Blog</a></li>
      <li><a href="/index.html#contact" title="Contact Us">Contact Us</a></li>
  </ul>
  
  <select name="dropdown" size="1">
      <option value="" selected="selected">Navigation</option>
      <option value="/#header-global">Home</option>
      <option value="/#introduction">About Us</option>
      <option value="/#latest-work">Our Work</option> 
      <option value="/#services">Our Services</option> 
      <option value="/#meet-the-team">Meet the team</option>
      <option value="/blog.html">Blog</option>
      <option value="/#contact">Contact Us</option>
  </select>
  
</nav><!-- end #header-navigation -->