<header>
    <a href="/"><img src="/assets/img/gt-logo.png" width="200" alt="Go Tripod" /></a>

    <nav>
        <ul>
            <li><a href="/about-us/">About Us</a></li>
            <li><a href="/our-process/">Our Process</a></li>
            <li><a href="/our-work/">Our Work</a></li>
            <li><a href="/meet-the-team/">Meet the Team</a></li>
            <li><a href="/make-contact/">Make Contact</a></li>
            <li><a href="http://www.gotripod.com/blog.html" target="_blank">Blog</a></li>
        </ul>
    </nav>
</header>