
    <!--header starts-->
    <div id="header-wrapper">
        <div id="header">
            <a href="/"><img src="/assets/img/gotripod-logo.png" width="381" height="114" alt="GoTripod" /></a>
        </div>
    </div>
    <!--header ends-->
    <!--nav starts-->
	<div id="nav">
        <ul>
            <li><a href="about-us/">About Us</a></li>
            <li><a href="our-process/">Our Process</a></li>
            <li><a href="our-work/">Our Work</a></li>
            <li><a href="meet-the-team/">Meet the Team</a></li>
            <li><a href="make-contact/">Make Contact</a></li>
            <li><a href="http://www.gotripod.com/blog.html" target="_blank">Blog</a></li>
        </ul>
	</div>
    <!--nav ends-->