<section class="mobile-header">
    <i class="fa fa-phone fa-4x"></i>
    <img src="/assets/img/yus-white.png" class="yus" alt="Go Tripod">
    <i class="fa fa-bars fa-4x"></i>
</section>

<section class="journey-bar">
    <a href="/"><img src="/assets/img/gt-logo.png" class="full-logo" alt="Go Tripod"></a>

    <nav>
        <ul>
            <li>1. <a href="/about-us" title="1. About Us">About Us</a></li>
            <li>2. <a href="" title="2. Our Process">Our Process</a></li>
            <li>3. <a href="" title="3. Our Work">Our Work</a></li>
            <li>4. <a href="" title="4. Meet The Team">Meet The Team</a></li>
            <li>5. <a href="" title="5. Make Contact">Make Contact</a></li>
        </ul>
    </nav>
</section>