<section id="latest-work">
			
	<div class="container">
			
		<div class="icon-holder work">
			<i class="icon-pencil" style="color:#e47c14 !important;"></i>
		</div>
			
		<h1>Our work says a lot about us. Passionate about all we do.</h1>
				
		<p>We listen, we scope and we build your ideas. We are not a creative agency, we do not make fancy pictures (Although we work with some great people that do). Solving business problems, architecting software solutions and coding is our thing. But we also do other cools jobs too.</p>
			
		
		<div id="portfolio-items">
		
			<div class="one-half column motion-graphics">
			
				<div class="project-item">
					
					<div class="project-image">
						<img src="assets/img/work/legal-rss-small.jpg" alt="LegalRSS" />
						<div class="overlay">
							<div class="details">
								<!-- <a class="item-one fancybox" id="inline" href="#Legalrss-example-one"> --><i class="icon-search"></i><!-- </a> -->
							</div>
						</div>
					</div><!-- end .project-image -->
					
					<div class="project-details">
						<h2>Web app &amp; Mobile</h2>
						<p>LegalRSS was developed to solve a problem at large on the internet. How do you keep the content on them up to date and relevant? LegalRSS allows Best Practice to manage content and subscribers and publish content to their network of partner websites.</p>
					</div><!-- end .project-details -->
					
					<!-- NOTE: Hidden video for Vimeo example -->
					<div id="Legalrss-example-one" style="display:none;">
						<div class="container">
							
							
						</div>
					</div><!-- end #vimeo-example-one -->
					<!-- NOTE: Hidden video for Vimeo example -->
				
				</div><!-- end .project-item -->
				
			</div><!-- end .one-third -->
			
			<div class="one-half column photography">
			
				<div class="project-item">

					<div class="project-image">
						
							<img src="assets/img/work/tdk.jpg" alt="" />
						</a>
						<div class="overlay">
							<div class="details">
								<i class="icon-search icon-3x"></i>
							</div>
						</div>
					</div><!-- end .project-image -->
					
					<div class="project-details">
						<h2>Content Managent System</h2>
						<p>TDK-Lambda required a platform to help the various country managers that operate the country specific web presence for TDK-Lambda. The platform should assist with brand and product consistency and also provide a level of autonomy at a localised level. </p>
					</div><!-- end .project-details -->
					
				
				
				</div><!-- end .project-item -->
				
			</div><!-- end .one-third -->
		

		</div><!-- end #portfolio-items -->
		
	</div><!-- end .container -->

</section><!-- end #latest-work -->
