<section id="meet-the-team">
			
	<div class="container">

		<div class="icon-holder team">
			<i class="icon-user" style="color:#e47c14 !important;"></i>
		</div>
	
		<h1>We have a team of truly awesome folk. You'll love 'em!</h1>
		
		<p>Go Tripod brings together a network of both local and regional talent in application development putting together a talented team of experienced creatives for your project. <br>Yes, we wear sun glasses a lot living in Cornwall.</p>
		
		<div id="team-members">
	
			<div class="team-member one-third column">
			
				<div class="thumbnail">
					<img src="assets/img/simon.jpg" alt="" />
				</div>
				
				<i class="icon-star"></i>
				<h2>Simon</h2>
				
				<p><em>I talk to people</em></p>
				
				<p>Technical Sales Director</p>
				
				<div class="social-icons-small">
					<a href="mailto:simon@gotripod.com">simon@gotripod.com</a>
				</div>	
			
			</div><!-- end .team-member -->
			
			
			<div class="team-member one-third column">
			
				<div class="thumbnail">						
					<img src="assets/img/colin.jpg" alt="" />
				</div>
				
				<i class="icon-star"></i>
				<h2>Colin</h2>
				
				<p><em>I write code and manage projects</em></p>
				
				<p>Technical Director</p>
				
			<div class="social-icons-small">
					<a href="mailto:colin@gotripod.com">colin@gotripod.com</a>
				</div>	
			</div><!-- end .team-member -->
            
          <div class="team-member one-third column">
			
				<div class="thumbnail">
					<img src="assets/img/greg.png" alt="" />
				</div>
				
				<i class="icon-star"></i>
				<h2>Greg</h2>
				
				<p><em>I architect apps and manage projects</em></p>
				
				<p>Senior Project Manager</p>
				
				<div class="social-icons-small">
					<a href="mailto:greg@gotripod.com">greg@gotripod.com</a>
				</div>	
			
			</div><!-- end .team-member -->
			
			
			<!-- Second Row -->
				<div id="team-members">
					<div class="team-member one-third column">

						<div class="thumbnail">
							<img src="assets/img/slaw.jpg" alt="" />
						</div>

						<i class="icon-star"></i>
						<h2>Slawek</h2>

						<p><em>I write clever code</em></p>

						<p>Senior Developer</p>
                        
                     <div class="social-icons-small">
							<a href="mailto:slaw@gotripod.com">slaw@gotripod.com</a>
						</div>	


					</div><!-- end .team-member -->
					
                    <div id="team-members">

						<div class="team-member one-third column">

							<div class="thumbnail">
								<img src="assets/img/marc.jpg" alt="" />
							</div>

							<i class="icon-star"></i>
							<h2>Marc</h2>

							<p><em>I love .NET</em></p>

							<p>Senior Developer</p>
							
                            <div class="social-icons-small">
								<a href="mailto:marc@gotripod.com">marc@gotripod.com</a>
								</div>	

					</div><!-- end .team-member -->

					<div class="team-member one-third column">

						<div class="thumbnail">
							<img src="assets/img/karina.jpg" alt="" />
						</div>

						<i class="icon-star"></i>
						<h2>Katrina</h2>

						<p><em>I help run projects</em></p>

						<p>Project Manager</p>
                        
                     <div class="social-icons-small">
							<a href="mailto:katrina@gotripod.com">katrina@gotripod.com</a>
						</div>	


					</div><!-- end .team-member -->
					
					
			<!-- Third Row -->
				<div id="team-members">
					<div class="team-member one-third column">

						<div class="thumbnail">
							<img src="assets/img/pavel.jpg"  alt="" />
						</div>

						<i class="icon-star"></i>
						<h2>Pavel</h2>

						<p><em>I support you</em></p>

						<p>Infrastructure & Systems Manager</p>
                        
                     <div class="social-icons-small">
							<a href="mailto:pavel@gotripod.com">pavel@gotripod.com</a>
						</div>	


					</div><!-- end .team-member -->
					
                    <div id="team-members">

						<div class="team-member one-third column">

							<div class="thumbnail">
								<img src="assets/img/joanna.jpg" alt="" />
							</div>

							<i class="icon-star"></i>
							<h2>Joanna</h2>

							<p><em>I test things</em></p>

							<p>QA &amp; Testing</p>
							<div class="social-icons-small">
								<a href="mailto:joanna@gotripod.com">joanna@gotripod.com</a>
							</div>				

					</div><!-- end .team-member -->

					<div class="team-member one-third column">

						<div class="thumbnail">
							<img src="assets/img/leona.jpg" alt="" />
						</div>

						<i class="icon-star"></i>
						<h2>Leona</h2>

						<p><em>I run the financials</em></p>

						<p>Operations Director</p>
                     <div class="social-icons-small">
							<a href="mailto:leona@gotripod.com">leona@gotripod.com</a>
						</div>	


					</div><!-- end .team-member -->
					
		
		</div><!-- end #team-members -->
		
		<div class="row">
			
			<div class="skill-bars">
				    
			    <div class="col">
			    	<ul id="skill">
				    	<li><span class="expand mask sites"></span><em>Apps Launched (We've been busy)</em></li>
				        <li><span class="expand mask clients"></span><em>Happy clients</em></li>
				        <li><span class="expand mask complaining"></span><em>Time spent sailing</em></li>
				        <li class="last"><span class="expand mask coffee"></span><em>Time spent making coffee</em></li>
			        </ul>
			    </div>
		
			</div><!-- end .skill-bars -->
			
		</div><!-- end .row -->
		
	</div><!-- end .container -->
		
</section><!-- end #meet-the-team -->