<div id="section-divider-2">
	
	<img class="background bg2" src="/assets/img/bg2.jpg">

	<div class="container">

		<div class="text-container">
		
			<div class="logos sixteen columns">
		
				<h2>Some folks we've worked with</h2>
			
				<ul id="client-logos">
					<li><img src="assets/img/Logo_TDK.png" alt="TDK-Lambda" /></li>
					<li><img src="assets/img/Iron_Mountain_logo.png" width="200" alt="im" /></li>
					<li><img src="assets/img/limelight-content-delivery.png" width="200" alt="ll" /></li>	
                 
				</ul>
              <ul id="client-logos">
              	<li><img src="assets/img/cornish_mutual.png" width="200" alt="cm" /></li>	
					<li><img src="assets/img/workbooks.png" width="200" alt="ll" /></li>	
                 <li><img src="assets/img/Stralfors.png" width="200" alt="s" /></li>	
              </ul>   
               
		
			</div><!-- end .logos -->
	
		</div><!-- end .text-container -->

	</div>

</div><!-- end #section-divider-2 -->