<div id="section-divider-3">

	<img class="background bg3" src="/assets/img/bg5.jpg">

	<div class="container">
	
		<div class="text-container">
			
			<section id="latest-quotes">
				<ul id="quotes">
				    <li>
				        <blockquote>"Computer science education cannot make anybody an expert programmer any more than studying brushes and pigment can make somebody an expert painter."</blockquote>
				        <cite>Eric S. Raymond</cite>
				    </li>
									
					<li>
					    <blockquote>"Create your own visual style… let it be unique for yourself and yet identifiable for others."</blockquote>
					    <cite>Orson Welles</cite>
					</li>
				    		    
				  
				    <li>
				    	<blockquote>"Don't design for everyone. It's impossible. All you end up doing is designing something that makes everyone unhappy."</blockquote>
				        <cite>Leisa Reichelt</cite>
				    </li>
		
				</ul><!-- end #quotes -->
			</section><!-- end #latest-quotes -->
		
		</div><!-- end .text-container -->
	
	</div>

</div><!-- end #section-divider-3 -->