<section id="services">

	<div class="container">

		<div class="icon-holder services">
			<i class="icon-cog" style="color:#e47c14 !important;"></i>
		</div>

		<h1>We provide a multitude of services. Everything is covered.</h1>
	
		<p>We offer a broad selection of services aimed at companies who wish to push the boundaries, we can tailor make a fully functional e-commerce web site or a product led application for iPhone or android systems, we can match flair and creativity to any project giving the client an all round service that’s second to none</p>
	
		<div id="all-services">
					
			<div class="service one-third column">
											
				<i class="icon-desktop"></i>
	
				<h2>Architecting done the correct way</h2>
				
				<p>Our architecting process for any system, integrates what we have learned from great architects, and failed architectures, to help you create a solution that is technically sound and clearly represented. So it meets the needs and objectives of key stakeholders, and of course that it is actually delivers the objective.</p>
			
			</div><!-- end .service -->
			
			<div class="service one-third column">
																
				<i class="icon-cloud-download"></i>
	
				<h2>Development from the best in the game</h2>
				
				<p>Gone are the days that all software developers do is sit in dark corners and pound away at their keyboards. Software developers need to understand the business problem they are assisting on solving. Go Tripod know this. We actively participate in your process of finding a solution to your business. </p>
	
			</div><!-- end .service -->
			
			<div class="service one-third column">
																
				<i class="icon-dashboard"></i>
	
				<h2>Rapid development &amp; iterations</h2>
				
				<p>We may only need one iteration of your entire project cycle, but we won't waste any time. We'll work quickly to go from concept to prototype and rapidly get your project to the next iteration so you can get to an end result faster. We also wrap everything in a mindful orchestration of quality &amp; assurance</p>
			
			</div><!-- end .service -->
			
			<div class="service one-third column">
														
				<i class="icon-github-alt"></i>
	
				<h2>Github &amp; Basecamp because they rock</h2>
				
				<p>We use Basecamp on all our projects to ensure good communication. Also, Github helps us manage the code we develop for you along with all associated assets and improve our workflow in ways that blows our mind. </p>
			
			</div><!-- end .service -->
			
			<div class="service one-third column">
																
				<i class="icon-heart"></i>
	
				<h2>Big love from the team that really can</h2>
				
				<p>Fifty hobbit years plus experience from all of the team working on a host of systems, languages, techniques and backgrounds brings together a hot pot of seriously &Uuml;ber skills and abilities to deliver your solution. This is what we do, this is what we love.</p>
	
			</div><!-- end .service -->
			
			<div class="service one-third column">
																
				<i class="icon-leaf"></i>
	
				<h2>We are kind to the environment</h2>
				
				<p>Go Tripod's fine folk are very environmentally conscious. That is why we chose Tremough Innovation Centre for our development HQ. Incidently they have been awarded the BREEM Excellence standard too.</p>
			
			</div><!-- end .service -->
		
		</div><!-- end #all-services -->
		
	</div>

</section><!-- end #services -->