form#contact-form {
    display: block;
    width: 400px;
    margin: 0 auto 15px auto;

    input[type="text"], input[type="email"], textarea {
        color: black;
        width: 100%;
        padding: 10px;
        font-size: 15px;
        font-family: 'Cabin', sans-serif;
    }
}