---
---

@charset "utf-8";
/* CSS Document */

* {
	box-sizing: border-box;
}

body {
	min-width: 480px;
	margin: 0 0 0 0;
	background-color: black;
	-webkit-font-smoothing: antialiased;
	/*font-size: 75%;	*/
	}

a img { border: 0 none; }
a { text-decoration: none !important; }

a.banner-link {
	height:41px;
	width:172px;
	background:#FFFFFF url(/assets/img/bg_banner.gif) top left no-repeat;
	color:#FFF;
	display:inline-block;
	text-transform:uppercase;
	padding-top:8px;
	font-family: "Roboto";
	font-weight: 700;
	font-style: normal;
	text-transform:uppercase;
	text-decoration:none;
	}
	a.banner-link:hover {
		margin-top:-4px;
	}


.pull-left {float:left;}
.pull-right {float:right;}
.caps {text-transform:uppercase;}

.badge {
	display: block !important;
	text-align: center;
	border: 7px solid #FFF;
	font-size: 65px;
	padding: 2px;
	color: #FFFC00;
	z-index: 0;
	border-radius: 100%;
	width: 92px;
	height: 92px;
	margin-right: space(1);
	position: relative;
}