@charset "utf-8";
/* MEET THE TEAM ==================================================== */

#body.team div.section.group {
	margin-bottom:1.6em; 
	/*border-bottom:1px solid #CCCCCC;*/
	}
	#body.team div.section.group img {
		border-radius:50%; 
		border: 5px solid #fff; 
		margin-bottom:1.4em; 
		display:inline-block;
		}
	#body.team div.section.group img:hover {
		border-radius:50%; 
		border: 5px solid #216382;
		}
		#body.team div.section.group a {
			display:block; 
			padding-bottom:0.5em; 
			text-decoration:none; 
			color:#216382; 
			font-weight:bold;
			}
	#body.team div.section.group h2 {
		margin-top:0; 
		text-transform:uppercase;
		}
	#body.team div.section.group p {
		font-size:1em; 
		line-height:1.75em;
		}

/*
	#body.team div.section.group div:first-of-type  {text-align:center;}
	#body.team div.section.group:nth-child(2) {text-align:left;}
*/

		#body.team div.section.group div.col.span_1_of_2  {
			text-align:center;
			}
			#body.team div.section.group div.col.span_1_of_2 span {
				display:block; 
				text-align:left; 
				font-size:1.2em; 
				padding-bottom:1em;
				}
			#body.team div.section.group div.col.span_1_of_2 p {
				text-align:left;
				}
