---
---

@charset "utf-8";


/* PORTFOLIO GRID ==================================================== */


div.grid span {
	display:inline-block;
	width:309px;
	height:188px;
	}
	div.grid span p{ display:none;}


	span.grid-01 { background:#ebeaea url("/assets/img/clients/grid-01.gif") no-repeat top left; }
	span.grid-02 { background:#ebeaea url("/assets/img/clients/grid-02.gif") no-repeat top left; }
	span.grid-03 { background:#ebeaea url("/assets/img/clients/grid-03.gif") no-repeat top left; }
	span.grid-04 { background:#ebeaea url("/assets/img/clients/grid-04.gif") no-repeat top left; }
	span.grid-05 { background:#ebeaea url("/assets/img/clients/grid-05.gif") no-repeat top left; }
	span.grid-06 { background:#ebeaea url("/assets/img/clients/grid-06.gif") no-repeat top left; }
	span.grid-07 { background:#ebeaea url("/assets/img/clients/grid-07.gif") no-repeat top left; }
	span.grid-08 { background:#ebeaea url("/assets/img/clients/grid-08.gif") no-repeat top left; }
	span.grid-09 { background:#ebeaea url("/assets/img/clients/grid-09.gif") no-repeat top left; }
	span.grid-10 { background:#ebeaea url("/assets/img/clients/grid-10.gif") no-repeat top left; }
	span.grid-11 { background:#ebeaea url("/assets/img/clients/grid-11.gif") no-repeat top left; }

	span.grid-01:hover { background:#ebeaea url("/assets/img/clients/grid-01.gif") no-repeat bottom left; }
	span.grid-02:hover { background:#ebeaea url("/assets/img/clients/grid-02.gif") no-repeat bottom left; }
	span.grid-03:hover { background:#ebeaea url("/assets/img/clients/grid-03.gif") no-repeat bottom left; }
	span.grid-04:hover { background:#ebeaea url("/assets/img/clients/grid-04.gif") no-repeat bottom left; }
	span.grid-05:hover { background:#ebeaea url("/assets/img/clients/grid-05.gif") no-repeat bottom left; }
	span.grid-06:hover { background:#ebeaea url("/assets/img/clients/grid-06.gif") no-repeat bottom left; }
	span.grid-07:hover { background:#ebeaea url("/assets/img/clients/grid-07.gif") no-repeat bottom left; }
	span.grid-08:hover { background:#ebeaea url("/assets/img/clients/grid-08.gif") no-repeat bottom left; }
	span.grid-09:hover { background:#ebeaea url("/assets/img/clients/grid-09.gif") no-repeat bottom left; }
	span.grid-10:hover { background:#ebeaea url("/assets/img/clients/grid-10.gif") no-repeat bottom left; }
	span.grid-11:hover { background:#ebeaea url("/assets/img/clients/grid-11.gif") no-repeat bottom left; }





/*
div.grid2 span {
	display:inline-block;
	max-width:309px;
	max-height:188px;
	overflow:hidden;
	}
	div.grid2 span p{ display:none;}
	div.grid2 span img{ width:100%; height:100%}

	span.grid-01 img:hover { left:-100% !important; }
	span.grid-02 { background:#ebeaea url("/assets/img/clients/grid-02.gif") no-repeat top left; }
	span.grid-03 { background:#ebeaea url("/assets/img/clients/grid-03.gif") no-repeat top left; }
	span.grid-04 { background:#ebeaea url("/assets/img/clients/grid-04.gif") no-repeat top left; }
	span.grid-05 { background:#ebeaea url("/assets/img/clients/grid-05.gif") no-repeat top left; }
	span.grid-06 { background:#ebeaea url("/assets/img/clients/grid-06.gif") no-repeat top left; }
	span.grid-07 { background:#ebeaea url("/assets/img/clients/grid-07.gif") no-repeat top left; }
	span.grid-08 { background:#ebeaea url("/assets/img/clients/grid-08.gif") no-repeat top left; }

	span.grid-01:hover { background:#ebeaea url("/assets/img/clients/grid-01.gif") no-repeat bottom left; }
	span.grid-02:hover { background:#ebeaea url("/assets/img/clients/grid-02.gif") no-repeat bottom left; }
	span.grid-03:hover { background:#ebeaea url("/assets/img/clients/grid-03.gif") no-repeat bottom left; }
	span.grid-04:hover { background:#ebeaea url("/assets/img/clients/grid-04.gif") no-repeat bottom left; }
	span.grid-05:hover { background:#ebeaea url("/assets/img/clients/grid-05.gif") no-repeat bottom left; }
	span.grid-06:hover { background:#ebeaea url("/assets/img/clients/grid-06.gif") no-repeat bottom left; }
	span.grid-07:hover { background:#ebeaea url("/assets/img/clients/grid-07.gif") no-repeat bottom left; }
	span.grid-08:hover { background:#ebeaea url("/assets/img/clients/grid-08.gif") no-repeat bottom left; }

*/


