---
---

@charset "utf-8";
/* CSS Document */


#wrapper {
}


/* HEADER ======================================================== */


header {
	padding: 30px;
	img {
		-webkit-filter: brightness(200%);
	}
}

.background {
     background-color: black; background-image: url(/assets/img/Cosmos03.jpg);
     background-size: cover; height: 600px; width: 100%; position: absolute; top: 0; z-index: -6;
     opacity:0.71;
}


/* NAV =========================================================== */


nav {
	font-family: 'Museo Sans';
	float: right;
	/*height:30px;*/
	/*position: fixed; z-index: 10000;*/
	}
	nav ul {
		text-align: center;
		list-style-type:none;
		margin:0;
		padding:0;
		}
	nav li {
		display:inline-block;   /*comment this line out to make vertical nav for small screens? */
		}
	nav li:hover {
		background-color:#216382;
		-webkit-box-shadow: 0px 6px 0px 0px rgba(255, 255, 0, 1);
		-moz-box-shadow:    0px 6px 0px 0px rgba(255, 255, 0, 1);
		box-shadow:         0px 6px 0px 0px rgba(255, 255, 0, 1);
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
		}
	nav li.selected {
		background-color:#216382;
		}
	nav a {
		display:inline-block;
		letter-spacing: -0.5px;
		padding:9px 12px;
		color:#FFFFFF;
		text-decoration:none;
		font-size: 18px;
		}


/* INTRO ========================================================= */

#intro {
	xbackground:#216382 url("/assets/img/bg_intro.gif") repeat-x right top;
	height:307px;
	position:relative;
	z-index: -1;

	p {
		font-size: 32px;
		text-align: center;
		line-height: 37.5px;
		font-weight: bold;
		letter-spacing: -1.3px;
		color:#FFF;
		position:absolute;
		top:175px;
		width:800px;
		margin:0 auto;
		left:0;right:0;
		margin-top: -30px;
	}

}

	#intro.home { height:427px; }

	#intro #groupshot {
	/*	display:block;*/
		width:30%;
		}
	#intro img {
		width:100%;
		max-width:632px;
		height:auto;
		margin:0 auto 0 auto;
		position: absolute;
		bottom: 0;
		left:0;right:0;
		}
	#intro h1 {
		font-size: 44px;
		line-height: 73px;
		margin-bottom: 25px;
		margin-top: 0;
		padding-top:73px;
		font-family: "Museo Sans";
		font-weight: 700;
		font-style: normal;

		color:#fffc00;
		/*text-shadow: 0px 0px 1px rgba(239, 239, 239, 1);*/
		text-align:center;
		width: 100%;
		}



/* JOURNEY ======================================================= */

#journey-bar {
	position:relative;
	background:#ebeaea;
	height:75px;
	border-bottom: 1px solid #989898;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.35);
	-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.35);
	box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.35);
	text-align:center;
	}
	#journey-bar div {   /* both 'div.arrow' and 'div.journey-end' styles */
		margin:0 auto;
		/*width:300px;*/
		display:inline-block;
		position:absolute;
		top:15px;
		left:0;right:0;
		}
		#journey-bar div.arrow a {
			height:47px;
			line-height: 47px;
			padding:0 25px;
			background:url("/assets/img/bg_journey_arrow_tail.gif") no-repeat left center,url("/assets/img/bg_journey_arrow.gif") no-repeat right center;
			display:inline-block;
			text-transform:uppercase;
			color:#FFFFFF;
			text-decoration:none;
			font-size:75%;
			/* Standard syntax */
			transition-property:margin-left;
			transition-duration:0.05s;
			transition-timing-function:linear;
			/* For Safari 3.1 to 6.0 */
			-webkit-transition-property:margin-left;
			-webkit-transition-duration:0.05s;
			-webkit-transition-timing-function:linear;
			/* Firefox 4 */
			-moz-transition-property: margin-left;
			-moz-transition-duration:0.1s;
			-moz-transition-timing-function:linear;
			 /* Opera */
			-o-transition-property:margin-left;
			-o-transition-duration:0.05s;
			-o-transition-timing-function:linear;
			}
			#journey-bar div.arrow a:hover { margin-left:30px; }

		#journey-bar div.journey-end {
			height:47px;
			line-height: 47px;
			}
			#journey-bar div.journey-end i {
				font-size:2.5em;
				}
			#journey-bar div.journey-end span {
				color:#216382;
				font-family:"Roboto";
				font-size:2.5em;
				font-weight:700;
				margin-left:12px;
				}



/* BODY ========================================================== */
#body > * {
	display: block;
	margin: 0 auto;
	max-width:980px;
}

#body {
	width: 100%;
	/*min-height:600px;*/
	background: white;
	padding:45px 20px 75px 20px;
	box-sizing: border-box;
	}

/* font awesome over-rides start */

	.fa-stack {
		position: relative;
		display: inline-block;
		width: 2em;
		height: 2em;
		line-height: 2em;
		vertical-align: middle;
		}
	.fa-stack-1x,
	.fa-stack-2x,
	.fa-stack-3x {
		position: absolute;
		left: 0;
		width: 100%;
		text-align: center;
		}
	.fa-stack-1x { line-height: inherit; }
	.fa-stack-2x { font-size: 2em; }
	.fa-stack-3x { font-size: 2em; }

	.gt-blue 	{color:#216382;}
	.gt-white 	{color:#FFF;}
	.gt-black 	{color:#000;}

/* font awesome over-rides end */




/* ACCORDIAN & PANELS ==================================================== */

#accordion {
	/*width:840px;*/
	width:86%;
	margin:0 auto;
	}
	#accordion div.reveal 		{
		padding:45px 0 0 0; overflow: hidden;
		transition: height 0.5s;
	}
	#accordion div.reveal.inset {padding:45px 37px 0 37px;}
	#accordion div.reveal p 	{margin-top:0; margin-bottom:45px;}
	#accordion div.reveal img 	{margin-bottom:25px;}
	#accordion div.reveal span 	{display:inline-block; margin-bottom:45px;}
	#accordion div.panel:hover span:nth-child(1) {color:#216382;}


.panel-container {
	background:#ebeaea;
	display:table;
	width:100%;
	margin-top:3px;
	outline:none;
	cursor: pointer;
	}
	.panel-container.ui-state-active {			/* jquery ui style override for open accordion panels*/
		background-color:#cacaca !important;
		}
	.panel-container.home {
			margin-top:75px;
			}
	.panel-container.down 		 { background:#ebeaea url("/assets/img/bg_arrow_down.gif") no-repeat right 50%; }
	.panel-container.down:hover  { background:#ebeaea url("/assets/img/bg_arrow_down_on.gif") no-repeat right 50%; }
	.panel-container.right 		 { background:#ebeaea url("/assets/img/bg_arrow_right.gif") no-repeat right 50%; }
	.panel-container.right:hover { background:#ebeaea url("/assets/img/bg_arrow_right_on.gif") no-repeat right 50%; }


.panel {
	min-height:115px;
/*	margin:3px auto 0 auto !important;
*/	display:table-row;
	width:100%;
	}
	.panel span {
		display:table-cell;
		}
		.panel span.icon {
			display:table-cell;
			width:115px;
			margin-top:0;
			}
		.panel span.fa-stack {
			vertical-align:top;
			padding-top:6px;
			}
		.panel span.text {
			display:block;
			/*position:absolute;
			vertical-align:middle !important;*/
			padding-top:20px;
			padding-left:25px;
			padding-right:80px;
			font-size:175%;
			line-height:150%;
			color:#666;
			font-family: Calibri, "Raleway";
			font-weight: 600;
			font-style:italic;
			}
			.panel span.text span {
				font-family: "Roboto";
				font-weight: 900;
				font-style: normal;
				color:#216382;
				text-transform:uppercase;

				}





/* FOOTER ==================================================== */


#footer-pre {
	background: #216382 url("/assets/img/bg_sub-pre.gif") repeat-x center bottom;
	height:45px;
	}
	#footer-pre ul {
		text-align: center;
		list-style-type:none;
		margin:0;
		padding:0;
		}
	#footer-pre li {
		display:inline-block;
		padding-right:20px;
		padding-top:20px;
		}
	#footer-pre a {
		text-decoration:none;
		color:#ffffff;
		text-transform:uppercase;
		}


#footer-wrapper {
	background-color:#161515;
	border-top: 1px solid #ffff00;
	min-height:321px;
	color:#FFFFFF;
	}

#footer {
	max-width:980px;
	margin: 0 auto;
	padding:0 20px;
	}
	#footer a {
		text-transform:uppercase;
		/*padding:16px 14px 16px 22px;*/
		color:#FFFF00;
		text-decoration:none;
		/*font-size:75%;*/
		}
	#footer p {
		font-size:85%;
		}
	#footer img {
		margin-left:-8px;
		margin-top:40px;
		}
	#footer .pull-right {
		width:290px;
		}
	#footer label {
		display: block;
		text-transform: uppercase;
		font-weight:500;
		margin: 40px 0 15px 0;
		}
	#footer input[type="text"] {
		background-color: #efefef;
		border:none;
		display:block;
		width:290px;
		height:39px;
		padding:2%;
		font-family:"Raleway";
		font-size:1em;
		}
	#footer input[type="button"] {
		background-color: #216382;
		color:#fff;
		text-transform:uppercase;
		border:none;
		display:block;
		width:107px;
		height:40px;
		float:right;
		margin-top:12px;
		margin-right:-4%;
		font-family:"Roboto";
		font-weight:700;
		font-size:1.1em;
		cursor: pointer;
		}
		#footer input[type="button"]:hover {
		background-color:#FF0;
		color:#000;
		}

#social {
	float:right;
	clear:both;
	margin-top:55px;
	}
	#social i {
		display:inline;
		position:relative;
		padding-left:4px;
		}
		#social i:hover {color:#ffff00; /*#216382*/}



