---
---

body {
    margin: 0;
    font-family: 'Museo Sans';
    color: #333;
}

h1, h2 {
    text-align: center;
}


h1 {
    color: #E47C14;
}

select {
    display: none;
}


#main-navigation {
    background: #333;
    text-align: center;
    padding: 30px 0;

    ul {
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        font-size: 18px;
        color: white;
        text-decoration: none;
    }
}

#go-tripod-logo {
    display: block;
}