---
---

@import 'meyer';

@function space($factor) {
    @return (15px * $factor);
}

@mixin vertical-center {
    display: flex;
    box-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

$gt-flair: #fffc00;

body {
    font-family: 'Museo Sans';
    color: #333;
    background: black;
    -webkit-font-smoothing: antialiased;
}

h1, h2 {
    text-align: center;
    letter-spacing: -1.3px;
}


h1 {
    color: $gt-flair;
    font-size: 42px;
}

h2 {
    font-size: 32px;
}

select {
    display: none;
}

header {
    @include vertical-center;
    margin: 0 auto 0 auto;
    width: 720px;
    height: 100vh;


    h1 {
        margin-bottom: space(1);
        line-height: space(3);
    }

    h2 {
            line-height: space(2.5);
            color: white;
    }

    em {
        text-decoration: underline;
    }
}

.badge {
      display: block !important;
  text-align: center;
  border: 7px solid #FFF;
font-size: 65px;
  padding: 2px;
  color: #FFFC00;
  z-index: 0;
  border-radius: 100%;
  width: 92px;
  height: 92px;
  margin-right: space(1);
  position: relative;
}

//   border-bottom: medium double #DDD;

#main-navigation {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: right;

    ul {
        margin: space(2);
        padding: space(1) 0 0 0;
    }

    li {
        display: inline-block;
        margin: 0 space(0.5);

        a {
            font-size: 18px;
            color: white;
            letter-spacing: -0.5px;
            text-decoration: none;
        }
    }
}

.background {
     background-image: url(/assets/img/Cosmos03.jpg); background-size: cover; height: 100vh; width: 100%; position: absolute; top: 0; z-index: -6;
     opacity:0.71;
}

#go-tripod-logo {
    -webkit-filter: brightness(200%);
    float: left;
    margin: space(2);
    img {
        width: 200px;
    }
}

.blurb {
    display: flex;
    width: 610px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;

    h3 {
        color: $gt-flair;
        font-size: 42px;
        text-align: left;
        margin-bottom: 10px;
    }

    p {
        color: white;
        font-size: 32px;
        line-height: 30px;
        text-align: left;
    }
}

#introduction {
    background: radial-gradient(ellipse at center 110px, #4D769E 0%, #8ABBD7 69%, #D9ECF5 100%);
    position: relative;
    box-shadow: inset 0 8px 8px -8px rgba(0,0,0,0.8);
    padding-bottom: 200px;

    .badge i {
        margin-left: -8px;
        margin-top: 7px;
    }

    .grid {
        display: flex;
        flex-wrap: wrap;
        margin: -(space(3)) 0 0 -(space(3));
        justify-content: center;
    }

    .grid-cell {
        padding: space(3) 0 0 space(3);
        a { display: block; width: 300px; }
        img {
            display: block;
            width: 300px;
            height: 185px;
            @include box-shadow(0px, 0px, 10px, rgba(255, 255, 255, 0.8));
            border: 3px double #fff;
            border-radius: 2px;
        }
    }
}

#people {
    padding-bottom: 200px;

    img         { width: 90px; }
    p           { width: 500px; }
    .mug        { padding: 8px 8px 5px 8px; background: white; display: inline-block; margin: space(1);}
    .mugs       { width: 1100px; margin: 0 auto; text-align: center; font-size: 0; }
    .mugs p     { font-size: 12px; width: auto; margin-top: 6px; }
    .badge i    { margin-top: 4px; }

    /* By default, we tilt all our images -2 degrees */
    .mug {
      -webkit-transform: rotate(-2deg);
      -moz-transform: rotate(-2deg);
    }

    /* Rotate all even images 2 degrees */
    .mugs .mug:nth-child(even) {
      -webkit-transform: rotate(2deg);
      -moz-transform: rotate(2deg);
    }

    /* Don't rotate every third image, but offset its position */
    .mugs .mug:nth-child(3n) {
      -webkit-transform: none;
      -moz-transform: none;
      position: relative;
      top: -5px;
    }

    /* Rotate every fifth image by 5 degrees and offset it */
    .mugs .mug:nth-child(5n) {
      -webkit-transform: rotate(5deg);
      -moz-transform: rotate(5deg);
      position: relative;
      right: 5px;
    }

    /* Keep default rotate for every eighth, but offset it */
    .mugs .mug:nth-child(8n) {
      position: relative;
      top: 8px;
      right: 5px;
    }
}

#work {
    background: #061432;
    width: 100%;
    padding-bottom: 100px;

    .badge {
        width: 110px;
        height: 90px;

        i {
            margin-top: 7px;
        }
    }

    #services {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;

        h2 {
            border-bottom: medium double #DDD;
            padding: 30px 0px;
            margin-bottom: 20px;
            line-height: 30px;
        }

        p {
            text-align: justify;
        }

        .service {
            i {
                font-size: 56px;
            }

            background-color: #F6F3F3;
            padding: 40px 20px 20px 20px;
            margin-bottom: 20px;
            font-size: 14px;
            line-height: 24px;
            border: medium double #DDD;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            width: 300px;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

#contact:before {
    content: '';
    height: 100vh;
    width: 100%;
    background-image: url(/assets/img/Cosmos01.jpg);
    background-size: cover;
    display: block;
    z-index: -10;
    position: absolute;
    opacity: 0.75;
}
