---
---

@charset "utf-8";
/* CSS Document */


body {
   font-size: 13px;
   font-family: "Raleway";
   font-style: normal;
   font-weight: 400;
}


h1 {
   font-size: 64px;
   line-height: 73px;
   margin-bottom: 25px;
}

p {
   font-size: 17px;
   line-height: 26px;
   margin-bottom: 35px;
}
