<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>{{page.title}}</title>
	<meta name="description" content="Bespoke software development for web apps and mobile apps">
	<meta name="keywords" content="Mobile apps, web apps, web applications, Cornwall, Devon, Somerset">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" href="/assets/img/favicon.png">

    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <![endif]-->
	<script>
	(function(g,i,a,n,t,s){g['SeeYourVisitors']=n;g[n]=g[n]||function(){
	(g[n].q=g[n].q||[]).push(arguments)},g[n].l=1*new Date();t=i.createElement(a),
	s=i.getElementsByTagName(a)[0];t.async=1;t.src='//seeyourvisitors.appspot.com/gg.js';
	s.parentNode.insertBefore(t,s)})(window,document,'script','gg');
	gg('create', '661d333c-6f31-4d8b-8d2e-cb557cd642c6');
	gg('track');
	</script>
</head>
<body>

    {{content}}

    {% include footer.html %}

    <script src="/assets/js/build.min.js"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-9912208-1']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>

</html>